.products div div {
    padding: 10px;
    background-color: #C0C0C0;
    position: relative;
}

.products div div a {
    right: 10px;
}

.product-form {
    width: 250px;
    margin: 0 auto;
    position: relative;
}

form.register, form.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

form.register div, form.login div {
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.error.alert {
    top: -115px;
    height: 100px;
    opacity: 0;
    position: fixed !important;
    width: 70%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    z-index: 2;
}

.container {
    top: 138px;
    position: relative;
}

form.product-form {
    margin-bottom: 50px;
}

nav {
    padding: 20px 40px;
    background-color: darkolivegreen;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline;
}

nav div.authentication {
    margin-left: auto;
}

nav a.logout {
    margin-left: auto;
}

.menu-bars {
    font-size: 2rem;
}

.menu {
    position: absolute;
    background-color: black;
    width: 0;
    height: 100vh;
    transition: width 0.5s;
}

.menu .xclose {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
}

.main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

@media only screen and (min-width: 630px){
    .menu-bars {
        display: none;
    }
}