.products div div {
    padding: 10px;
    background-color: #C0C0C0;
    position: relative;
}

.products div div a {
    right: 10px;
}

.products div div h3 {
    margin: 10px;
}

.product-form {
    width: 250px;
    margin: 0 auto;
    position: relative;
}

form.register,
form.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

form.register div,
form.login div {
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.error.alert,
.success.alert {
    top: -115px;
    height: 100px;
    opacity: 0;
    position: fixed !important;
    width: 70%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    z-index: 2;
}

form.product-form {
    margin-bottom: 50px;
}

nav {
    padding: 20px 40px;
    background-color: #3c3c3c;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: calc(2rem + 40px);
    z-index: 1;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline;
}

nav div.authentication {
    margin-left: auto;
}

nav a.logout {
    margin-left: auto;
}

.menu-bars i {
    font-size: 2rem;
}

.menu {
    position: absolute;
    background-color: black;
    width: 300px;
    height: 100vh;
    left: -300px;
    transition: all 0.5s;
    z-index: 10;
}

.menu .pre-xclose {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu .xclose {
    z-index: 11;
    color: white;
    margin: 10px;
}

.menu .items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 50px;
    position: relative;
}

.menu .items a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    width: 100%;
    padding: 5px 15px;
}

.menu .items a.active {
    background-color: cadetblue;
}

.menu-absoluter {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    transition: all 1s ease-in-out;
}

.main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

div.downloads {
    display: flex;
    flex-direction: column;
}

div.downloads>div {
    margin: 10px 0;
    display: flex;
    color: white;
    align-items: center;
    padding: 10px 20px;
    background-color: #3c3c3c;
}

div.downloads div i {
    font-size: 3rem;
    margin-left: auto;
}

div.downloads div button {
    margin-left: auto;
}

div.wrapper {
    padding-top: 123px;
    min-height: calc(100vh - 123px);
}

.menu-inline {
    display: none;
    width: 100%;
}

div.loading {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.loading i {
    font-size: 8rem;
    animation-name: spinner;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

p.shopping-cart {
    font-size: 1.5rem;
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 600px) {
    .menu-bars {
        display: none;
    }

    .menu-inline {
        display: flex;
        align-items: center;
    }
}