.products div div {
    padding: 10px;
    background-color: #C0C0C0;
    position: relative;
}

.products div div a {
    right: 10px;
}

.product-form {
    width: 250px;
    margin: 50px auto;
}

form.register, form.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 24px);
}

form.register div, form.login div {
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.alert {
    top: -115px;
    height: 100px;
    opacity: 0;
    position: fixed !important;
    width: 70%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}